<template name="Home">
    <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box e-running">
                <span class="info-box-icon bg-light-blue"><i class="fa fa-spinner"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Running</span>
                    <span class="info-box-number">{{runningCount}}</span>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box e-done">
                <span class="info-box-icon bg-green"><i class="fa fa-check"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Done</span>
                    <span class="info-box-number">{{doneCount}}</span>
                </div>
            </div>
        </div>

    </div>
</template>
