<template name="Running">
    <div class="row">

        <div class="col-md-12">
            <div class="box box-primary">

                <div class="box-header with-border">
                    <h3 class="box-title">Deployments - Running</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>Timestamp</th>
                                <th>Status</th>
                                <th>Number</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each running}}
                                <tr>
                                    <td>
                                        <a href="#">{{timestamp}}</a>
                                    </td>
                                    <td>
                                        {{#each statuz}}
                                            <span class="label {{getLabelType(this)}}">{{this}}</span>
                                        {{/each}}
                                    </td>
                                    <td>
                                        {{number}}
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>