<template name="sidebar">
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="header">DEPLOYMENTS</li>
                <li>
                    <a href="lsim.html">
                        <i class="fa fa-spinner"></i> <span>On Going</span>
                        <span class="pull-right-container">
              <small class="label pull-right bg-blue">3</small>
            </span>
                    </a>
                </li>
                <li>
                    <a href="done.html">
                        <i class="fa fa-check"></i> <span>Done</span>
                        <span class="pull-right-container">
              <small class="label pull-right bg-green">4</small>
            </span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>
</template>
