<template name="Sidebar">
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="header">DEPLOYMENTS</li>
                <li>
                    <a href="#" class="e-running">
                        <i class="fa fa-spinner"></i>
                        <span>Running</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-blue">{{runningCount}}</small>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="e-done">
                        <i class="fa fa-check"></i>
                        <span>Done</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-green">{{doneCount}}</small>
                        </span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>
</template>
